.mat-row:hover {
  cursor: pointer;
  background: whitesmoke;
}

.add-button {
  position: absolute;
  right: 400px;
  top: 90px;
}

.cor-excluir {
  color: red;
}

.cor-visualizar {
  color: blue;
}

.table-width {
  width: 750px;
}
