<h1>Produtos</h1>
<button class="add-button"
        color="primary" mat-fab
        routerLink="new"
        matTooltip="Criar Produto"
>
  <mat-icon>add</mat-icon>
</button>

<div *ngIf="produtos.length">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Ordenar Por: </mat-label>
      <mat-select [(value)]="ordenar" (selectionChange)="setProdutos()">
        <mat-option value="id">ID</mat-option>
        <mat-option value="nome">Nome</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="produtos" class="mat-elevation-z8 table-width">
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.id }} </td>
    </ng-container>

    <!-- NOME -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="codigoDeBarras">
      <th mat-header-cell *matHeaderCellDef> Código de Barras </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.codigoDeBarras }} </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.categoria }} </td>
    </ng-container>

    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.preco | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell mat-cell *matCellDef="let produto">
        <button
          mat-icon-button
          matTooltip="Editar"
          [routerLink]="['/produtos', produto.id]"
          (click)="$event.stopPropagation()"
        >
          <mat-icon >edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell mat-cell *matCellDef="let produto">
        <button
          mat-icon-button
          matTooltip="Excluír Produto!"
          (click)="excluirProduto(produto); $event.stopPropagation()"
        >
          <mat-icon class="cor-excluir">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="atributosProdutos"></tr>
    <tr mat-row *matRowDef="let produto; columns: atributosProdutos"></tr>
  </table>
</div>

<div *ngIf="!produtos.length">
  Nenhum produto cadastrado!!!
</div>
