html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f3f3;
}


.add-button-cor {
  background: #605570;
  border: 1px solid black;
}

.mat-snack-bar-container {
  height: 60px;
  max-width: 100% !important;
}
